/* Colors */
:root {
    --primary: #4275F4;
    --secondary: #A2AFC0;
    --info: #2F80ED;
    --success: #27AE60;
    --warning: #E2B93B;
    --error: #EB5757;
    --black-1: #000000;
    --black-2: #141417;
    --black-3: #1E2023;
    --white: #ffffff;
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-4: #ACB4BC;
    --gray-5: #F4F7F8;
    --linear-gradient: linear-gradient(45deg, var(--primary), var(--secondary), var(--primary));
}

.custom-wrapper {
    display: flex;
    justify-content: center;
}

.custom-container {
    width: 76rem;
    padding: 0 0.5rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
}

.stroked-text {
    color: transparent;
    -webkit-text-stroke: 2px var(--primary);
    text-stroke: 2px var(--primary);
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--gray-1);
}

::-webkit-scrollbar-thumb {
    background: var(--gray-2);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}
/* ================ */